body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #dcff5ef5;
    padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(37, 169, 1);
  font-weight: 700;
}
h1{
    margin-left: 35px;    
    font-size: 70px;
}
main{
    background-color: #f4ffcbf5;
    padding: 10px;
}
img{
    width: 400px;
    height: 250px;
}
.active{
    width: 300px;
    height: 250px;
}
footer{
    background-color: #76a002f5;
    padding: 10px;
}